/* Empty file for template. Remember to edit only this file and not the HTML file */
body {
    background-color:#E1E1E0; 
}

.page-wrapper {
    
    border:1px solid #2e3f64;
    width:70vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: auto ;
}

div [role=banner] {
    color:white;
    background-color: black; opacity:0.75 ;
    width: 285px;
    text-align: left;
    padding:8px;
    margin-top:15px;
    margin-left:15px;
    border:0px solid #2e3f64; 
    border-radius:2%;

}
h1{
    margin-left:30px;
    font-size: 30px;
}
h2{
    margin-left:62px;
    font-size: 14px;
}