
.page-wrapper {
    border:0px solid #ffffff;
    width:800px;
    display: flex;
    flex-direction: row;
    margin: auto ;
    flex-wrap:wrap;
    color:white;
    align-items:flex-start;
    justify-content:flex-start;
    background-image:url(pngwingbursh.png) ;
}

body{
    background-image:url(pngwingtree.png), url(pngwing.com.png), url(pngwingleaf.png), url(pngwingvine.png); 
    background-color: rgb(218, 218, 218);
    background-repeat: no-repeat;
    background-position: 1410px 900px, 630px 40px, -170px 8px, 120px 2000px ;
    background-size: 600px, 1200px, 1000px, 600px;
}

div [role=banner] {
    color:rgb(0, 0, 0);opacity:.09;
    width: 735px;
    height: 406px;
    text-align: left;
    padding:8px;
    margin-left:20px;
    margin-top:20px;
    border:5px solid #ffffff; 
    border-radius:2%; 
    background: url(ezgif-6-b7b070ac32.png); opacity:1;
    background-repeat: no-repeat;
    background-size: contain;
}

[role=banner] > h1{
    margin-left:10px;
    font-size: 30px;
    font-family: "Tahoma";
}

[title~=Cascading] {
    font-size:20px;
    font-family: "Tahoma";
}

h2{
    margin-left:15px;
    font-size: 18px;
    font-family: "Tahoma";
}

:not(h2, h1, h3){
    font-size: 20px;
}

div h3{
    font-size:35px;
    font-family: "Tahoma"
}

h2::first-letter{
    font-size: 20px;
}

h3 + p {
    font-size:20px;
    font-family: "Tahoma";

}

p:last-of-type{
    margin-left:25px;
}

p:first-of-type{
    margin-left:25px;
}

p:nth-child(3){
    margin-left:25px;
}

p:nth-child(4){
    margin-left:25px;
}

p:nth-last-child(2){
    margin-left:25px;
}

p ~ p{
    font-size:20px;
    font-family: "Tahoma";

}

abbr ~ p{
    font-size:20px;
    font-family: "Tahoma";
    margin-left:35px;
}

*abbr{
    font-size:20px;
    font-family: "Tahoma";
    color:white;
}

a:active {
    color: rgb(12, 186, 59);
  }

abbr:active {
    color: rgb(12,186,59);
  }

a:link{
    font-size:20px;
    font-family: "Tahoma";
    color:rgb(222, 222, 222);
}

a:link:hover{
    font-size:20px;
    font-family: "Tahoma";
    color:rgb(255, 255, 255);
}

abbr:link:hover{
    font-size:20px;
    font-family: "Tahoma";
    color:rgb(255, 255, 255);
}

a:visited {
    font-size:20px;
    font-family: "Tahoma";
    color:rgb(132, 132, 132);
}

a:visited:hover {
    font-size:20px;
    font-family: "Tahoma";
    color:rgb(255, 255, 255);
}
p::selection{
    color: #60803E;
}

.page-wrapper {
    background-image: url(pngwingbursh.png), linear-gradient(-150deg, #60803E, #1a2c00), url(pngwingbursh.png);
    background-repeat: no-repeat;
    background-position:780px 2270px , 0px;
    background-size: 500px, 100%;
  }

.summary{
    display:flex;
    flex-direction:column;
    border:3px solid rgb(255, 255, 255);
    padding-left: 39px;
    padding-right:39px;
    width:699px;
    margin:10px;
    align-items:center;
    font-family: "Tahoma";
}

.preamble {
    border:0px solid #ffffff;
    width:760px;
    display:flex;
    flex-direction:column;
    margin:10px;
    margin-bottom:40px;
    padding-left:10px;
    padding-right:20px;
    line-height: 30px;
}



.main.supporting{
    border:0px solid #ffffff;
    width:760px;
    display:flex;
    flex-direction:column;
    margin:0px;
    padding-left:10px;
    line-height: 30px;
}

.supporting .explanation{
    border:0px solid #ffffff;
    display:flex;
    flex-direction:column;
    margin-top:10px;
    margin-bottom:30px;
    padding-left:10px
}

div.participation{
    border:0px solid #ffffff;
    display:flex;
    flex-direction:column;
    margin-top:10px;
    margin-bottom:30px;
    padding-left:10px
}

.benefits{
    border:0px solid #ffffff;
    display:flex;
    flex-direction:column;
    margin-top:10px;
    margin-bottom:30px;
    padding-left:10px
}

.requirements{
    border:0px solid #ffffff;
    display:flex;
    flex-direction:column;
    margin-top:10px;
    margin-bottom:30px;
    padding-left:10px;
}

#design-selection{
    border:#ffffff solid 3px;
    display:flex;
    flex-direction:row;
     width: 758px;
    margin-top:10px;
    margin-left:14px;
    align-self:flex-end;
    padding-left:10px
    
}

.design-archives{
    border:#ffffff solid 3px;
    display:flex;
    flex-direction:row;
    width: 759px;
    margin-top:10px;
    margin-left:14px;
    align-self:flex-end;
    padding-left:10px
}

.zen-resources{
    border:#ffffff solid 3px;
    display:flex;
    flex-direction:row;
    width: 759px;
    margin-top:10px;
    margin-bottom:20px;
    margin-left:14px;
    align-self:flex-end;
    padding-left:10px;
    background-image: url(1769829-plant_peashooter_thumb.png), url(Sunflower2009HD.webp);
    background-repeat: no-repeat;
    background-size: 140px, 130px;
    background-position: 460px 10px, 620px 4px;
}

footer:last-child{
    display:flex;
    padding-left:560px;
    margin-bottom:50px;;
}