
.page-wrapper {
    border:0px solid #ffffff;
    width:800px;
    display: flex;
    flex-direction: row;
    margin: auto ;
    margin-bottom:0px;
    flex-wrap:wrap;
    color:white;
    align-items:flex-start;
    justify-content:flex-start;
}

body{
    background-image:url(pngwingtree.png), url(pngwing.com.png), url(pngwingleaf.png), url(pngwingvine.png); 
    background-color: rgb(218, 218, 218);
    background-repeat: no-repeat;
    background-position: 1410px 900px, 630px 40px, -170px 8px, 120px 2000px ;
    background-size: 600px, 1200px, 1000px, 600px;
}

div [role=banner] {
    color:rgb(0, 0, 0);opacity:.09;
    width: 735px;
    height: 406px;
    text-align: left;
    padding:8px;
    margin-left:20px;
    margin-top:20px;
    border:5px solid #ffffff; 
    border-radius:2%; 
    background: url(ezgif-6-b7b070ac32.png); opacity:1;
    background-repeat: no-repeat;
    background-size: contain;
}

[role=banner] > h1{
    margin-left:10px;
    font-size: 30px;
    font-family: "Tahoma";
}

[title~=Cascading] {
    font-size:20px;
    font-family: "Tahoma";
}

h2:only-of-type{
    margin-left:15px;
    font-size: 18px;
    font-family: "Tahoma";
}

:not(h2, h1, h3){
    font-size: 20px;
}

div h3{
    font-size:35px;
    font-family: "Tahoma"
}

h2::first-letter{
    font-size: 20px;
    font-family: "Tahoma"
}

h3 + p {
    font-size:20px;
    font-family: "Tahoma";
}

p:last-of-type{
    margin-left:25px;
}

p:first-of-type{
    margin-left:25px;
}

p:nth-child(3){
    margin-left:25px;
}

p:nth-last-of-type(3){
    margin-left:25px;
}

p:nth-last-child(2){
    margin-left:25px;
}

p ~ p{
    font-size:20px;
    font-family: "Tahoma";
}

abbr ~ p{
    font-size:20px;
    font-family: "Tahoma";
    margin-left:35px;
}

*abbr{
    font-size:20px;
    font-family: "Tahoma";
    color:white;
}

a:active {
    color: rgb(12, 186, 59);
}

abbr:active {
    color: rgb(12,186,59);
}

a:link{
    font-size:20px;
    font-family: "Tahoma";
    color:rgb(222, 222, 222);
}

a:link:hover{
    font-size:20px;
    font-family: "Tahoma";
    color:rgb(255, 255, 255);
}

abbr:link:hover{
    font-size:20px;
    font-family: "Tahoma";
    color:rgb(255, 255, 255);
}

p::selection{
    color: #8bd228;
}

abbr::selection{
    color: #8bd228;
}

a::selection{
    color: #8bd228;
}

h1::selection{
    color: #8bd228;
}

h2::selection{
    color: #8bd228;
}

h3:first-child::selection{
    color: #8bd228;
}

ul:nth-of-type(1) {
    list-style: none;
}

a:focus{
    color: rgb(169, 255, 103);
}

abbr:focus{
    color: rgb(169, 255, 103);
}

li::first-line{
    color: rgb(220, 32, 132);
}


a:visited {
    font-size:20px;
    font-family: "Tahoma";
    color:rgb(132, 132, 132);
}

a:visited:hover {
    font-size:20px;
    font-family: "Tahoma";
    color:rgb(255, 255, 255);
}

.page-wrapper {
    background-image: url(pngwingbursh.png), linear-gradient(-150deg, #60803E, #1a2c00);
    background-repeat: no-repeat;
    background-position:500px 2270px, 0px;
    background-size: 300px 600px, 100%;
}

.summary{
    display:flex;
    flex-direction:column;
    border:3px solid rgb(255, 255, 255);
    padding-left: 39px;
    padding-right:39px;
    width:697px;
    margin:10px;
    align-items:center;
    font-family: "Tahoma";
}

.preamble {
    border:0px solid #ffffff;
    width:760px;
    display:flex;
    flex-direction:column;
    margin:10px;
    margin-bottom:40px;
    padding-left:10px;
    padding-right:20px;
    line-height: 30px;
}



.main.supporting{
    border:0px solid #ffffff;
    width:520px;
    display:flex;
    flex-direction:column;
    margin:0px;
    padding-left:10px;
    line-height: 30px;
}

.supporting .explanation{
    border:0px solid #ffffff;
    display:flex;
    flex-direction:column;
    margin-top:10px;
    margin-bottom:30px;
    padding-left:10px
}

div.participation{
    border:0px solid #ffffff;
    display:flex;
    flex-direction:column;
    margin-top:10px;
    margin-bottom:30px;
    padding-left:10px
}

.benefits{
    border:0px solid #ffffff;
    display:flex;
    width:800px;
    flex-direction:column;
    margin-top:10px;
    margin-bottom:30px;
    padding-left:10px
}

.requirements{
    border:0px solid #ffffff;
    display:flex;
    flex-direction:column;
    width:740px;
    height: 1160px;
    margin-top:10px;
    padding-left:10px;
    background-image: url(Sunflower2009HD.webp),url(1769829-plant_peashooter_thumb.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 50px 990px, 200px 1000px;
    background-size: 150px, 160px;
}

#design-selection{
    border:#ffffff solid 3px;
    display:flex;
    flex-direction:column;
     width: 200px;
    margin-top:10px;
    margin-left:25px;
    align-self:flex-end;
    padding-left:10px
}

.design-archives{
    border:#ffffff solid 3px;
    display:flex;
    flex-direction:column;
    width: 200px;
    margin-top:10px;
    margin-left:25px;
    align-self:flex-end;
    padding-left:10px
}

.zen-resources{
    border:#ffffff solid 3px;
    display:flex;
    flex-direction:column;
    width: 200px;
    margin-top:10px;
    margin-bottom:20px;
    margin-left:25px;
    align-self:flex-end;
    padding-left:10px;
}

footer:last-child{
    padding-left:80px;
    margin-bottom:50px;;
    letter-spacing: 4px;
}
